/*COULEURS*/
#dashboard {
  display: flex;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  background-color: #020203;
}
header .logo {
  display: grid;
  align-items: center;
  padding: 19px 29px;
  grid-template-columns: 0.5fr 3fr 13fr;
}
header .logo .logo__title {
  color: #E60000;
  font-size: 24px;
  margin-left: 10.5px;
}
header .logo .logo__menu {
  list-style: none;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
header .logo .logo__menu a {
  text-decoration: none;
}
header .logo .logo__menu a li {
  color: #ffffff;
  font-size: 24px;
}

.sportlist {
  background-color: #020203;
  display: flex;
  flex-direction: column;
  max-width: 117px;
  padding: 27px;
  position: relative;
  height: 1024px;
}
.sportlist .sportlist--item, .sportlist .sportlist--copyrights {
  margin-right: auto;
  width: 64px;
  height: 64px;
}
.sportlist .sportlist--item {
  padding: 18px;
  background-color: #ffffff;
  margin-bottom: 20px;
  border-radius: 6px;
  display: flex;
  align-items: center;
}
.sportlist #sportlist--item--yoga {
  margin-top: 270px;
}
.sportlist #sportlist--item--bodybuilding {
  margin-bottom: 240px;
}
.sportlist .sportlist--copyrights {
  transform: rotate(-90deg);
  font-size: 12px;
  white-space: nowrap;
  margin: 0;
  color: #ffffff;
  position: absolute;
  bottom: 59px;
  left: 42px;
}

.dashboard-content {
  margin-left: 109px;
  margin-top: 38px;
}
.dashboard-content .dashboard-content--userinfo {
  display: flex;
  flex-direction: column;
  margin-bottom: 77px;
}
.dashboard-content .dashboard-content--message {
  font-size: 48px;
  margin-bottom: 41px;
}
.dashboard-content .dashboard-content--message .dashboard-content--name {
  color: #FF0101;
}
.dashboard-content .dashboard-content--diagrams-nutritionalgroup {
  display: flex;
}
.dashboard-content .dashboard-content--diagrams-nutritionalgroup .dashboard-content--diagrams {
  width: 835px;
}
.dashboard-content .dashboard-content--diagrams-nutritionalgroup .dashboard-content--diagrams .dashboard-content--diagrams-secondary {
  display: flex;
  width: 835px;
}

@media (max-width: 1350px) {
  .dashboard-content .dashboard-content--diagrams-nutritionalgroup {
    flex-direction: column;
  }
  .dashboard-content .dashboard-content--diagrams-nutritionalgroup .dashboard-content--diagrams {
    order: 1;
  }
  .dashboard-content .nutritionaldata--group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.barchart-tooltip .barchart-tooltip--item {
  color: #FFFFFF;
  background-color: #E60000;
  padding: 7px;
  font-size: 24px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
}

.dashboard-content--barchart {
  background-color: #FBFBFB;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 835px;
  height: 320px;
  position: relative;
  padding-left: 43px;
  border-radius: 5px;
  margin-right: 61px;
  margin-bottom: 28px;
}
.dashboard-content--barchart figcaption {
  position: absolute;
  top: 24px;
  left: 46px;
}
.dashboard-content--barchart .dashboard-content--barchart--legend {
  display: flex;
  align-self: end;
  margin-top: 24px;
  margin-bottom: 64px;
  margin-right: 38px;
}
.dashboard-content--barchart .dashboard-content--barchart--legend .dashboard-content--barchart--legend--item {
  display: flex;
  align-items: center;
  margin-right: 32px;
}
.dashboard-content--barchart .dashboard-content--barchart--legend .dashboard-content--barchart--legend--item--text {
  font-size: 14px;
}
.dashboard-content--barchart #dashboard-content--barchart--legend--item--icon--kg, .dashboard-content--barchart #dashboard-content--barchart--legend--item--icon--kcal {
  background-color: #282D30;
  height: 8px;
  width: 8px;
  display: flex;
  border-radius: 50%;
  margin-right: 12px;
}
.dashboard-content--barchart #dashboard-content--barchart--legend--item--icon--kg span, .dashboard-content--barchart #dashboard-content--barchart--legend--item--icon--kcal span {
  font-size: 14px;
}
.dashboard-content--barchart #dashboard-content--barchart--legend--item--icon--kcal {
  background-color: #E60000;
}

.nutritionaldata--element {
  margin-bottom: 39px;
  display: flex;
  padding: 32px;
  background-color: #FBFBFB;
  border-radius: 5px;
  width: 258px;
  height: 124px;
  margin-left: 32px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
}
.nutritionaldata--element .nutritionaldata--element--data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.nutritionaldata--element .nutritionaldata--element--data strong {
  font-size: 20px;
  margin-bottom: 7px;
}
.nutritionaldata--element .nutritionaldata--element--data span {
  font-size: 14px;
  color: #74798C;
}
.nutritionaldata--element .nutritionaldata--element--icon {
  padding: 21px;
  margin-right: 24px;
  border-radius: 6px;
}
.nutritionaldata--element #nutritionaldata--element--icon--calories {
  background-color: rgb(251, 234, 234);
}
.nutritionaldata--element #nutritionaldata--element--icon--protein {
  background-color: rgba(74, 184, 255, 0.1);
}
.nutritionaldata--element #nutritionaldata--element--icon--carbohydrates {
  background-color: rgb(250, 246, 229);
}
.nutritionaldata--element #nutritionaldata--element--icon--lipids {
  background-color: rgba(253, 81, 129, 0.1);
}

.dashboard-content--radarchart {
  background-color: #282D30;
  margin-right: 30px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  width: 258px;
  height: 263px;
}

.dashboard-content--custompiechart {
  background-color: #FBFBFB;
  width: 258px;
  height: 263px;
  position: relative;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
}
.dashboard-content--custompiechart figcaption {
  font-size: 15px;
  color: #282D30;
  margin-top: 24px;
  margin-left: 30px;
}
.dashboard-content--custompiechart .custompiechart--labels label {
  position: absolute;
}
.dashboard-content--custompiechart .custompiechart--labels #custompiechart--label-two, .dashboard-content--custompiechart .custompiechart--labels #custompiechart--label-three {
  font-size: 16px;
  color: #74798C;
}
.dashboard-content--custompiechart .custompiechart--labels #custompiechart--label-one {
  font-size: 20px;
  left: 43%;
  top: 105px;
  color: #282D30;
  font-weight: bold;
}
.dashboard-content--custompiechart .custompiechart--labels #custompiechart--label-two {
  top: 128px;
  left: 39%;
}
.dashboard-content--custompiechart .custompiechart--labels #custompiechart--label-three {
  top: 148px;
  left: 41%;
}

.dashboard-content--linechart {
  position: relative;
  margin-right: 30px;
  overflow: auto;
  border-radius: 5px;
  background-color: red;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
}
.dashboard-content--linechart p {
  position: absolute;
  z-index: 1;
  margin-top: 29px;
  margin-left: 34px;
  max-width: 147px;
  color: #FF777C;
  font-size: 15px;
  cursor: default;
}

/*# sourceMappingURL=style.css.map */
