.barchart--tooltip--item{
  color: #FFFFFF;
  background-color: #E60000;
  padding: 7px;
  font-size: 24px;
}

#dashboard-content--barchart--legend--item--icon--kg, #dashboard-content--barchart--legend--item--icon--kcal{
  background-color: #282D30;
  padding: 0px 10px;
  border-radius: 50%;
}

#dashboard-content--barchart--legend--item--icon--kcal{
  background-color: #E60000;
}
