.dashboard-content--custompiechart{
  background-color: $color_light_grey;
  width: 258px;
  height: 263px;
  position: relative;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);

  figcaption{
    font-size: 15px;
    color: $color_dark_grey;
    margin-top: 24px;
    margin-left: 30px;
  }

  .custompiechart--labels{
    label{
      position: absolute;
    }
      #custompiechart--label-two, #custompiechart--label-three{
        font-size: 16px;
        color: $color_grey;
      }
      #custompiechart--label-one{
        font-size: 20px;
        left: 43%;
        top: 110px;
        color: $color_dark_grey;
        font-weight: bold;
      }

      #custompiechart--label-two{
        top: 141px;
        left: 39%;
      }

      #custompiechart--label-three{
        top: 165px;
        left: 41%;
      }

  }
}