.dashboard-content{
  margin-left: 109px;
  margin-top: 38px;

  .dashboard-content--userinfo{
    display: flex;
    flex-direction: column;
    margin-bottom: 77px;
  }

  .dashboard-content--message{
    font-size: 48px;
    margin-bottom: 41px;

    .dashboard-content--name{
      color: $primary_color;
    }
  }

  .dashboard-content--diagrams-nutritionalgroup{
    display: flex;

    .dashboard-content--diagrams{
      width: 835px;

      .dashboard-content--diagrams-secondary{
        display: flex;
        width: 835px;
      }
    }
  }
}

@media (max-width: 1350px) {
  .dashboard-content {
    .dashboard-content--diagrams-nutritionalgroup{
      flex-direction: column;

      .dashboard-content--diagrams{
        order: 1;
      }
    }

    .nutritionaldata--group{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr ;
    }
  }
}


