header{
  background-color: $color_black;

  .logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 19px 29px;

    .logo__title{
      color: $primary-color-darkened;
      font-size: 24px;
      margin-left: 10.5px;
    }

    .logo__menu{
      display: flex;
      flex-direction: row;
      list-style: none;
      margin-left: auto;
      margin-right: 87px;

      a{
        text-decoration: none;

        li{
          color: $color_white;
          font-size: 24px;
        }
      }

      #logo__menu__home, #logo__menu__account, #logo__menu__setting{
        margin-right: 204px;
      }
    }
  }
}