header{
  background-color: $color_black;

  .logo{
    display: grid;
    align-items: center;
    padding: 19px 29px;
    grid-template-columns: 0.5fr 3fr 13fr;

    .logo__title{
      color: $primary-color-darkened;
      font-size: 24px;
      margin-left: 10.5px;
    }

    .logo__menu{
      list-style: none;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;

      a{
        text-decoration: none;

        li{
          color: $color_white;
          font-size: 24px;
        }
      }
    }
  }
}