.dashboard-content--linechart{
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 2;

  width: 258px;
  height: 263px;

  position: relative;

  p{
    position: absolute;
    z-index: 1;
    margin-top: 29px;
    margin-left: 34px;
    max-width: 147px;
    color: #FF777C;
    font-size: 15px;
  }

  .dashboard-content--linechart--svg {
    background-color: #FF0000;
  }
}