.dashboard-content--linechart{
  position: relative;
  margin-right: 30px;
  overflow: auto;
  border-radius: 5px;
  background-color: red;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);

  p{
    position: absolute;
    z-index: 1;
    margin-top: 29px;
    margin-left: 34px;
    max-width: 147px;
    color: #FF777C;
    font-size: 15px;
    cursor: default;
  }

  .dashboard-content--linechart--svg {

  }
}