.dashboard-content--radarchart{
  background-color: $color_dark_grey;
  margin-right: 30px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  width: 258px;
  height: 263px;
}