.sportlist{
  background-color: $color_black;
  display: flex;
  flex-direction: column;
  max-width: 117px;
  padding: 27px;
  position: relative;
  height: 1024px;

  .sportlist--item, .sportlist--copyrights{
    margin-right: auto;
    width: 64px;
    height: 64px;
  }

  .sportlist--item{
    padding: 18px;
    background-color: $color-white;
    margin-bottom: 20px;
    border-radius: 6px;
    display: flex;
    align-items: center;
  }

  #sportlist--item--yoga{
    margin-top: 270px;
  }

  #sportlist--item--bodybuilding{
    margin-bottom: 240px;
  }

  .sportlist--copyrights{
    transform: rotate(-90deg);
    font-size: 12px;
    white-space: nowrap;
    margin: 0;
    color: $color_white;
    position: absolute;
    bottom: 59px;
    left: 42px;

  }
}